@import url('http://fonts.cdnfonts.com/css/cocogoose?styles=44178');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --ff-cocogoose: 'Cocogoose';
  --ff-lato: 'Lato';
  --ff-helvetica: 'Helvetica';
  --color-black: #272a31;
  --color-red: #ec5242;
  --color-lightgrey: #d3d3d3;
  --color-white: #fff;
  --border-check: 1px solid crimson;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-lato);
}

html {
  scroll-behavior: smooth;
}

.desktop {
  display: none;
}

/* ---------------Main Section--------------- */
.bgContainer {
  background-image: url(./assets/background.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  color: var(--color-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.menuBar {
  background-color: transparent;
  backdrop-filter: blur(1px);
  position: fixed;
  width: 100%;
  padding-bottom: 1rem;
  top: 0;
  z-index: 1;
}

.menu {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 1.5rem;
  background-color: transparent;
  border: none;
}

nav {
  display: none;
}

.title {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  text-align: left;
}

.title h2 {
  font-size: 1.5rem;
  margin-right: auto;
  text-align: left;
  width: max-content;
}

.title h1 {
  font-family: var(--ff-cocogoose);
  font-size: 2rem;
  letter-spacing: 0.1rem;

  /* background-image: linear-gradient(150deg, #ec5242 0%, red 0%, #d98324 74%); */
  background-image: url(./assets/redbg.jpg);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 1rem;
}

.subtitle {
  display: block;
  width: 90%;
  background-color: transparent;
  opacity: 0.7;
  border: 4px solid var(--color-white);
  color: var(--color-black);
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
  padding: 0.25rem;
}

.specifics {
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  color: var(--color-black);
  text-align: center;
}

.specifics h2 {
  font-family: var(--ff-cocogoose);
  opacity: 0.8;
  font-size: 1.5rem;
}

.specifics p {
  font-size: 1.1rem;
  opacity: 0.5;
}

/* ---------------Program Section--------------- */
.program {
  background-image: url(./assets/program-bg.jpg);
  filter: grayscale(1px);
  height: 100%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  backdrop-filter: blur(0.5rem);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.program h2 {
  margin: 1.5rem 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: var(--color-lightgrey);
}

.program .indicator {
  width: 3rem;
  margin-bottom: 1rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.cardItem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  background-color: var(--color-black);
  opacity: 0.7;
  padding: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
}

.cardItem div {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 0;
  text-align: left;
  width: 30rem;
}

.cardItem .activity {
  width: 13rem;
}

.cardItem img {
  height: auto;
  align-self: center;
  width: 10%;
  margin: 0;
}

.cardItem h3 {
  color: var(--color-red);
  margin-top: auto;
  margin-bottom: auto;
}

.cardItem p {
  text-align: left;
  line-height: 1rem;
  width: 100%;
  font-size: 0.75rem;
  align-self: center;
}

.program button {
  background-color: var(--color-red);
  color: var(--color-white);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2.25rem;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  margin-bottom: 2rem;
  border: none;
}

.program button:hover {
  color: var(--color-black);
}

.seeProgram {
  display: none;
}

/* ---------------Speakers Section--------------- */
.speakers {
  background-color: var(--color-white);
  opacity: 0.9;
  filter: grayscale(1px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.speakers .indicator {
  width: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.speakers h2 {
  margin-top: 2rem;
}

.speakersContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
}

.speakerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 2rem;
}

.speakerItem img {
  background-color: var(--color-white);
}

.profile {
  text-align: left;
  margin-left: 0.5rem;
  width: 100%;
}

.profile img {
  width: 1rem;
  position: relative;
  top: -0.25rem;
}

.profile h2 {
  color: var(--color-black);
  margin-top: auto;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.profile h3 {
  color: var(--color-red);
  margin-top: auto;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 400;
}

.profile p {
  text-align: left;
  font-size: 0.6rem;
  line-height: 0.8rem;
}

/* ---------------More Section--------------- */
.moreBtn {
  display: block;
  width: 90%;
  border: 2px solid var(--color-lightgrey);
  color: var(--color-black);
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-white);
}

.moreImg {
  margin-left: 0.5rem;
}

.flipImg {
  transform: scaleY(-1);
}

/* ---------------Partner Section--------------- */
.partner {
  display: none;
}

/* ---------------Footer Section--------------- */
.mobileFooter {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 1rem 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.mobileFooter img {
  max-width: 40%;
  max-height: 40%;
  object-fit: cover;
  margin-right: 1rem;
}

.mobileFooter p {
  font-size: 0.75rem;
}

.desktopFooter {
  display: none;
}

/* ---------------Mobile Popup Window--------------- */
.popupContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 200vh;
  backdrop-filter: blur(8px);
  background-color: transparent;
  z-index: 1;
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: relative;
  background-color: #2e3139;
  background-image: url(./assets/bgModal.jpg);
  filter: grayscale(1px);
  width: 90%;
  height: 90vh;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.closeBtn {
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  transition-duration: 250ms;
}

.closeBtn:hover {
  transform: scale(2);
}

.ulLink {
  list-style-type: none;
}

.liLinks a {
  display: block;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1.5rem;
  list-style-type: none;
  font-size: 1.2rem;
  font-family: var(--ff-cocogoose);
  cursor: pointer;
  text-decoration: none;
  color: var(--color-lightgrey);
  transition-duration: 250ms;
}

.first {
  padding-top: 5rem;
}

.liLinks a:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

/* ---------------Media Query--------------- */
@media (min-width: 768px) {
  .menuBar {
    display: none;
  }

  .menu {
    display: none;
  }

  nav {
    display: block;
    background-color: var(--color-black);
    backdrop-filter: blur(2px);
    color: var(--color-lightgrey);
    list-style-type: none;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 4rem;
  }

  nav li {
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.25rem;
    opacity: 0.7;
    align-self: center;
    text-decoration: none;
  }

  nav li a {
    text-decoration: none;
    color: var(--color-lightgrey);
    cursor: pointer;
  }

  .header a {
    text-decoration: none;
    color: var(--color-black);
    cursor: pointer;
  }

  nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  nav li a:visited {
    text-decoration: none;
    color: var(--color-lightgrey);
    cursor: pointer;
  }

  .header a:visited {
    text-decoration: none;
    color: var(--color-black);
    cursor: pointer;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: var(--color-white);
    color: var(--color-black);
    padding-top: 0.25rem;
    height: 55px;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .awc {
    border: 2px solid var(--color-red);
  }

  .overflow {
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    overflow: hidden;
  }

  .overflow img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .title {
    margin-top: 10vw;
    margin-left: 4vw;
  }

  .title h2 {
    font-size: calc(1.5rem + 1.5vw);
  }

  .title h1 {
    font-size: calc(2rem + 2vw);
    padding-bottom: 0;
  }

  .subtitle {
    font-size: calc(1.5vw);
    line-height: 2.5vw;
    margin-left: 4vw;
    margin-right: 20vw;
    white-space: normal;
    width: fit-content;
  }

  .specifics {
    margin-left: 0;
    text-align: left;
    vertical-align: bottom;
  }

  .specifics h2 {
    margin-left: 4vw;
    font-size: calc(1rem + 1.1vw);
  }

  footer p {
    margin-left: 8rem;
  }

  .specifics p {
    margin-left: 4vw;
    font-size: calc(0.5rem + 1.1vw);
  }

  .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .cardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.25rem 0.1rem;
    width: 10rem;
    height: 15rem;
    border: 6px solid transparent;
  }

  .cardItem:hover {
    border: 6px solid var(--color-white);
  }

  .cardItem div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    position: relative;
  }

  .cardItem img {
    width: 60px;
  }

  .cardItem p {
    text-align: left;
    width: 25%;
    font-size: 0.65rem;
    height: 100%;
  }

  .speakersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .program button {
    display: none;
  }

  .seeProgram {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-lightgrey);
    margin-bottom: 2rem;
  }

  .partner {
    display: block;
    background-color: #2e3139;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
    filter: grayscale(1px);
    height: 100%;
    color: var(--color-white);
    backdrop-filter: blur(0.5rem);
  }

  .partner h2 {
    margin: 1.5rem 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    color: var(--color-lightgrey);
  }

  .partner .indicator {
    width: 3rem;
    margin-bottom: 1rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
  }

  .partner ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .partner li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-lightgrey);
    margin-right: 2rem;
  }

  .logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .partner ul img {
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .mobileFooter {
    display: none;
  }

  .desktopFooter {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 1rem 0;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 4rem;
    overflow: hidden;
    height: 55px;
    min-width: 200px;
  }
}
